#DRAMA Project Settings v1
#Tue May 19 15:21:01 CEST 2026
FrameHeight=885
ARESBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\ARES\\ares_windows.exe
FrameXPosition=-8
FrameWidth=1528
ARESMASTERDataDirectory=C\:\\Program Files (x86)\\MASTER-8.0.5\\data
RISKDataDirectory=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\SARA\\RISK\\data
OSCARBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\OSCAR\\oscar_windows.exe
REENTRYDataDirectory=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\SARA\\REENTRY\\data
CROCBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\CROC\\croc.jar
CSTATEBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\CSTATE\\cstate_windows.exe
MonteCarloBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\SARA\\MonteCarlo\\MonteCarlo_windows.exe
ToolSelection=TOOL_SARA
ARESFocusDirectory=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\ARES\\input\\focus
GnuplotBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\gnuplot\\bin\\gnuplot.exe
FrameYPosition=-8
REENTRYBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\SARA\\REENTRY\\sesam_windows.exe
MIDASBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\MIDAS\\midas_windows.exe
RISKBinary=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\SARA\\RISK\\seram.jar
OSCARESAURL=https\://static.sdo.esoc.esa.int/SOLMAG/
ProcessorLocal=true
MIDASCloudsDirectory=C\:\\Program Files (x86)\\MASTER-8.0.5\\data\\clouds
MIDASFocusDirectory=C\:\\Program Files (x86)\\DRAMA-3.1.1\\TOOLS\\MIDAS\\input\\focus
MIDASDataDirectory=C\:\\Program Files (x86)\\MASTER-8.0.5\\data
WarningMessages=false
